* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.main_site {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1.25rem;
}

#my_site_logo {
    height: 90px;
}

/* fixes a bug with the bulma "level" word wrap attribute */
.my_level_wrap{
    flex-shrink: 1
}

.lang_logos {
    max-height: 100px;
}

.profile_pic {
    border: 6px white solid;
}

.spacer {
    height: 5rem;
}

.small_spacer {
    height: 2rem;
}

.btn_text {
    color: white;
    transition: all .2s ease-in-out; 
}

.btn_text:hover {
    transform: scale(1.08); 
    color: white;
}

.contact_card {
    border: 2px lightskyblue solid;
    border-radius: 500px;
}

.video_container { 
    position: relative; 
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0; 
    overflow: hidden;
}

.video_container>iframe { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.blue_back {
    border-radius: 25px;
}

.img {
    width: 100%;
    height: auto;
}

.top_img {
    object-position: center top;
}